:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2fc; 
}
#icon {
  width: 30px !important;
  height: auto !important;
  cursor: pointer;
  float: right;
  margin-top: 17px;
  margin-right: -30px;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body, html {
  margin: 0;
  padding: 0;
}
.nav_header {
  width: 100%;
  height: 70px;
  background-color: var(--secondary-color);
}
.nav_h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font: Arial, sans-serif;
  color: var(--primary-color);
}
.nav_ul {
  width: auto;
  float: right;
  margin-top: 8px;
}
.nav_li {
  display: inline-block;
  padding: 15px 30px;
}
.nav_a {
  text-align: center;
  color: var(--primary-color);
  text-decoration: none;
  font: Arial, sans-serif;
  font-size: 1.2vw;
}

.nav_a:hover {
  color: #72ef2e;
  transition: 0.5s;
}