:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --tablebg-color: #b7bfd2;
}
.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2fc; 
  --tablebg-color: #504e4e;
}

body {
  font: Arial, sans-serif;
}

.twt_list:link {
  text-decoration: none;
  color: #6b97ff;
}

.twt_list:visited {
  color: #837bad;
}

.twt_list:hover {
  color: #50edb8;
}

.twt_list:active {
  text-decoration: underline;
}

.iosTitle {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  color: var(--secondary-color);
}

img {
  width: 100%;
  height: 60%;
}

h2, p {
  text-align: center;
}

p {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.column {
  margin-left: 25px;
  float: left;
  width: 14.5%;
  padding: 10px;
  height: 275px;
  text-align: center;
}

.row {
  margin-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: white;
  text-decoration: none;
}